.key-result-list:hover {
    transform:scale(1.05, 1.05);
    z-index: 100; 
}
.no-key-results {
    padding: 2rem;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}
.no-res-icon {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}