.home-page-container {
    padding: 2rem 4rem;
    margin: 1rem;
    background-color: var(--content-holder);
    color: var(--light);
    border-radius: var(--b-radius);
}

.loader {
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .home-page-container {
        padding: 0.2rem 0.6rem;
        margin: 0.6rem
    }
}